<div class="product-form-card p-4">
  <h4 class="form-title mb-4">AÑADIR PRODUCTO</h4>

  <form [formGroup]="formulario" (ngSubmit)="enviar()">

    <div class="mb-3">
      <label class="form-label text-white">Nombre:</label>
      <input class="form-control form-control-custom" formControlName="name">
    </div>

    <div class="mb-3">
      <label class="form-label text-white">Descripción:</label>
      <textarea class="form-control form-control-custom" rows="2" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label text-white">Precio:</label>
      <input type="number" class="form-control form-control-custom" formControlName="price">
    </div>

    <div class="mb-3">
      <label class="form-label text-white">Categoría:</label>
      <input class="form-control form-control-custom" formControlName="category">
    </div>

    <div class="mb-3">
      <label class="form-label text-white">URL imagen:</label>
      <input class="form-control form-control-custom" formControlName="image">
    </div>

    <div class="form-check mb-4 d-flex align-items-center gap-2">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="active"
        id="activoCheck"
      >
      <label for="activoCheck" class="form-check-label text-white">
        Activo
      </label>
    </div>

    <button type="submit" class="btn btn-light w-100 btn-create">
      CREAR PRODUCTO
    </button>

  </form>
</div>
