.products-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;              
}

.product-img{
  height: 190px;          
  object-fit: cover;
}

.products-title{
  font-size: 1.6rem;
  font-weight: 400;          
  letter-spacing: 1.5px;    
  text-transform: uppercase;
  color: #333;
}